@media screen and (min-width: 597px) {
    body {
        border: 1px solid rgb(0,0,0,0.2);
        width: 640px;
        margin: 1rem auto;
    }
    header{ 
        display:flex;
        align-items:center;
        justify-content: space-between;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav a{
        flex: 1 1 100%;
    }
    div {
        grid-template: auto/ 1fr 1fr 1fr;
        grid-gap: 10px;
        margin: 2rem ;
    }

    img{
        width: 100%;
    }

    .menu-toggle {
        display:none;
    }

    .close-menu {
        display:none;
    }
    
    .menu-item{
        display: block;
    }


    .yellow{
        color: yellow;
    }
}

@media (min-width: 1024px) {
    /* body {
        max-width: 70%;
        margin: 2rem auto;
    } */

    /* header, footer {
        padding: 3rem;
    } */

    /* main {
        padding: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    } */

    .container {
        grid-template-columns: repeat(5, 1fr);
    }

    .input1, .input2, .input3, .input4, .input5 {
        width: auto;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .date, .name, textarea {
        width: 98%;
    }

    button {
        font-size: 22px;
    }
}