@media (min-width: 1024px) {
    body {
        max-width: 70%;
        margin: 2rem auto;
    }

    header, footer {
        padding: 3rem;
    }

    main {
        padding: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .container {
        grid-template-columns: repeat(5, 1fr);
    }

    .input1, .input2, .input3, .input4, .input5 {
        width: auto;
        margin: 0 auto;
        margin-top: 0.5rem;
    }

    .date, .name, textarea {
        width: 98%;
    }

    button {
        font-size: 22px;
    }
}